body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

header > ul {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-evenly;

    margin-bottom: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

section {
    width: 100%;
}

section#sobre > h1 {
    font-size: 40px;
}

#sobre-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}